
@{
    ViewData["Title"] = "Negalima";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h1 class="text-danger font-weight-bold text-center"> Prieiga Draudžiama</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <p class=" h2 text-sviesus-3">Atsiprašome, bet jūs negalite redaguoti/trinti/keisti kitų vartotojų pateiktus užsakymus</p>
        </div>
    </div>
    <div class="row">
        <div class="col m-md-2">
            <a asp-action="All" class="btn btn-danger btn-block">Grįžti</a>
         </div>
    </div>
</div>


