@{
    ViewData["Title"] = "Privatumas";
    Layout = "_AccManagement";
}
<h1>@ViewData["Title"]</h1>

<p class="display-1 text-danger">Informacinis puslapis kur talpinsisu duomenų surinkimo tikslus, sutikimus ir t.t. </p>


