@model MoveAround.Models.AppUser

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AccManagement.cshtml";
}

<h1>Edit</h1>

<h4>AppUser</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdentityUserId" class="control-label"></label>
                <input asp-for="IdentityUserId" class="form-control" />
                <span asp-validation-for="IdentityUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tipas" class="control-label"></label>
                <input asp-for="Tipas" class="form-control" />
                <span asp-validation-for="Tipas" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="AccountNumber" class="control-label"></label>
                <input asp-for="AccountNumber" class="form-control" />
                <span asp-validation-for="AccountNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="AddressCity" class="control-label"></label>
                <input asp-for="AddressCity" class="form-control" />
                <span asp-validation-for="AddressCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressGatveNr" class="control-label"></label>
                <input asp-for="AddressGatveNr" class="form-control" />
                <span asp-validation-for="AddressGatveNr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BuisnessName" class="control-label"></label>
                <input asp-for="BuisnessName" class="form-control" />
                <span asp-validation-for="BuisnessName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BuisnessCode" class="control-label"></label>
                <input asp-for="BuisnessCode" class="form-control" />
                <span asp-validation-for="BuisnessCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PVM" class="control-label"></label>
                <input asp-for="PVM" class="form-control" />
                <span asp-validation-for="PVM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BuisnesAdressCity" class="control-label"></label>
                <input asp-for="BuisnesAdressCity" class="form-control" />
                <span asp-validation-for="BuisnesAdressCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BuisnesAdressStreet" class="control-label"></label>
                <input asp-for="BuisnesAdressStreet" class="form-control" />
                <span asp-validation-for="BuisnesAdressStreet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstablishedDate" class="control-label"></label>
                <input asp-for="EstablishedDate" class="form-control" />
                <span asp-validation-for="EstablishedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BuisnessEmail" class="control-label"></label>
                <input asp-for="BuisnessEmail" class="form-control" />
                <span asp-validation-for="BuisnessEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
