
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<link href="~/css/Dashboard.css" rel="stylesheet" />

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link" style="color: #cccccc; " asp-area="Identity" asp-page="/Account/Manage/Index" title="Vartotojo nuostatos">
                Sveiki, @User.Identity.Name!
            </a>

        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-outline-danger border-0 "><i   style="color: #cccccc;"  class="fas fa-sign-out-alt fa-2x logout-icon " > </i></button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">

            <span class="px-3 btn btn-outline-danger border-0">  <a asp-area="Identity" asp-page="/Account/Register"> <i class="fas fa-user-plus text-sviesus-3 fa-2x"  style="color: #cccccc;"  title="Registruotis"></i></a></span>
        </li>

        <li class="nav-item ">
            <span class="px-3 btn btn-outline-danger border-0"><a asp-area="Identity" asp-page="/Account/Login"><i class="fas fa-sign-in-alt fa-2x text-sviesus-3"  style="color: #cccccc;"  title="Prisijungti"></i></a></span>
        </li>
    }
</ul>
