@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Pamiršto slaptažodžio atgavimas";
    Layout = "_AccManagement";
}

<h1>@ViewData["Title"]</h1>
<p>
    Patikrinkite savo pašto dėžutę
</p>

