@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Pamiršote slaptažodį?";
    Layout = "_AccManagement";
}

<h1>@ViewData["Title"]</h1>
<h4>Įveskite savo elektronino pašto adresą</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class=" py-4">
                <button type="submit" class="btn btn-danger btn-block">Pateikti</button>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
