@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Pakeisto slaptažodžio patvirtinimas";
    Layout = "_AccManagement";
}
Pakeisti slaptažpdį:
<h1>@ViewData["Title"]</h1>
<p>
    Šaunu. Jūsų slaptažodis pakeistas. <a asp-page="./Login">Spauskite čia norėdami prisijiungti.</a>.
</p>
